<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeCleaner.CodeCleaner" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodeCleaner.CodeCleaner>
            <setting name="ScriptDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffToolDirectory" serializeAs="String">
                <value />
            </setting>
        </CodeCleaner.CodeCleaner>
    </applicationSettings>
</configuration>